@model QuestionBank
<div class="col-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edit QuestionBank </h5>

            <!-- Vertical Form -->
            <form asp-action="Edit" class="row g-3">
                <input type="hidden" asp-for="QuestionBankID"/>
                <div class="mt-3">

                    <div class="col-12">
                        <label class="form-label">  Select QuestionDbCategory</label>
                        <select class="form-select" asp-for="QuestionDBCategoryID" asp-items="@ViewBag.questiondbcategories">
                            <option>Select QuestionDbCategory </option>
                        </select>

                    </div>
                </div>

                <div class="mt-3">

                    <div class="col-12">
                        <label class="form-label">  Select Company</label>
                        <select class="form-select" asp-for="CompanyID" asp-items="@ViewBag.companies">
                            <option>Select  Company</option>
                        </select>

                    </div>
                </div>
                <div class="col-12">
                    <label asp-for="QuestionBankTitle" class="form-label">
                    </label>
                    <input asp-for="QuestionBankTitle" class="form-control" />

                </div>

               


                <div class="mt-3">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </div>
            </form><!-- Vertical Form -->

        </div>
    </div>
</div>
