<html>
<head>
    <title> Comapny Sign out </title>
</head>
<body>
    <h1>Company  Signout </h1>
    <p>
        Your are signed out successfully!. <br />
        For Sign in again <a asp-action="SignIn" asp-controller="CompanyManage" style="color: white;"> Click Here </a> <br />

    </p>
</body>

</html>